<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TicketFlow{% endblock %}</title>
    
    {# CSS Stylesheets #}
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/pages.css">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {# JavaScript Files #}
    <script src="/js/auth.js"></script>
    <script src="/js/storage.js"></script>
    <script src="/js/toast.js"></script>
    <script src="/js/validation.js"></script>
    
    {% block extra_js %}{% endblock %}
</body>
</html>